.nav-link {
	padding: 5px;
	border: 2px dotted #1B6EC5;
	margin: 2px;
	height: 100%;
}

html,
body,
header,
#intro {
    height: 100%;
}

#intro {
    background: url("../img/self/main.jpg")no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.red-color {
	color: red;
}

.nav-link:hover {
	background-color: #b8b890;
	color: red;
}

.new-self {
	font: 25px Bold;
	font-family: 'Chicle', sans-serif;
}

.each-heading {
	text-align: center;
	font: 35px Bold;
	font-family: 'Anton', sans-serif;
}

.bgcol1 {
	color: red;
}

.bord1 {
	border-left: 5px solid black;
	border-right: 5px solid black;
}

.bolder1 {
	border: 6px solid grey;
}

.attack-mention {
	font: 30px Bold;
	text-align: center;
	font-family: 'Arvo', serif;
}

.defn {
	font: 20px Bold;
	font-family: 'Fredoka One', cursive;
}

.horiz1 {
	width: 40%;
}