html {
	margin: 0px;
	padding: 5px;
}

body {
	background-color: black;
	color: white;

	font: 25px Bold;
}

.members-list {
	width: 100%;
}

.each-mem {
	width: 30%;
	float: left;
	background-color: red;
	margin-left: 10px;
	margin-right: 10px;
	text-align: center;

	font: 50px Bold;
	font-family: 'Spirax', cursive;
}

h1 {
	text-align: center;
}

.hello {
	text-align: left;
	font: 30px Bold;
	font-family: 'Acme', sans-serif;

}

.change {
	text-align: left;
}

.warning {
	text-align: center;
	font: 35px Bold Tahoma, Arial Black, Serif;
	text-decoration: underline;
}